<h2 align="center"><u>All Superpowers</u></h2>

<ul>
  <% @powers.each do |power| %>
    <li>
      <%= link_to "#{power.name}", power %>
      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>

<br><br><br>

<%= link_to 'SUPERHEROINE Home', heroines_path %>   ||  <%= <%= link_to 'Create A Superheroine!', new_heroine_path %> %>
